body {
  background-color: #f2f2f2;
}
.score,
.choice {
  display: flex;
}

.score > h2,
.choice > h2 {
  padding-right: 100px;
}

.playimg {
  width: 100px;
}

.choice,
.score {
  display: flex;
  justify-content: space-around;
}

.score > h4 {
  text-align: center;
}

#computer-score,
#user-score {
  padding: 0.4rem 1rem;
  margin: 1rem 0 0 0;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
}

button {
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .choice {
    display: block;
  }
}
